*{
	margin: 0px;
	padding: 0px;
}
body{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	box-shadow: 5px 5px 15px 5px #000000;
	
}
.left {
	background: #0B4455;

	
}
.pic{
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;
	
}
img{
	height: 140px;
	width: 140px;
	border-radius: 50%;
	padding: 2px;
	border-width: 2px;
	border-style: solid;
	box-sizing: border-box;
	border-color: #11495A #11495A #FFFFFF #11495A;
}
.title .t1{
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	text-transform: uppercase;
	color: #174C5C;
}

.title .sub{
	color: #174C5C;
	margin-top: -35px;
	padding-right: 30px;
	padding-left: 30px;


}
.company .c1{
	color: #174C5C;
	text-transform: uppercase;
	padding-right: 30px;
	padding-left: 30px;
}
.company .mail{
	color: #174C5C;
	margin-top: -45px;
	padding-right: 30px;
	padding-left: 30px;

}

.social{
	color: #174C5C;
	padding-right: 30px;
	padding-left: 30px;

}
.address{
	color: #174C5C;
	padding-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	display: inline-block;
	font-size: 13px;

}